<a href="https://colab.research.google.com/github/RAVIAPTISWETHA/-Deep-Learning-Applications-in-Heart-Diseases-Using-ECG-Signals/blob/main/DLA_Heart_Diseases_using_ECG_Signals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Installing Libraries**

In [27]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## **Data Loading**

In [29]:
dir_train = '/content/drive/My Drive/Colab Notebooks/ECGK/ECG/train'
dir_test = '/content/drive/My Drive/Colab Notebooks/ECGK/ECG/test'
dir_mendeley = '/content/drive/My Drive/Colab Notebooks/ECGM'

In [30]:
def dataloader(dir ):
    folders = os.listdir(dir)
    file_path = []
    labels = []
    sub_folders =[]
    for folder in folders:
        sub_folder = os.path.join(dir, folder)
        sub_list = os.listdir(sub_folder)
        for file in sub_list:
            f_path = os.path.join(sub_folder, file)
            file_path.append(f_path)
            labels.append(folder)
    return file_path, labels
train_file_path, train_labels = dataloader(dir_train )
print(len(train_file_path))
test_file_path, test_labels = dataloader(dir_test )
mendeley_path, mendeley_labels = dataloader(dir_mendeley )
combined_filepath = test_file_path + train_file_path + mendeley_path
combined_labels = train_labels +  test_labels + mendeley_labels
print(len(combined_filepath))
df = pd.DataFrame({'file_path': combined_filepath, "labels": combined_labels})
df.labels.value_counts()

3023
4658

labels
ECG Images of Myocardial Infarction Patients (240x12=2880)          1195
Normal Person ECG Images (284x12=3408)                              1136
ECG Images of Patient that have abnormal heartbeat (233x12=2796)     932
ECG Images of Patient that have History of MI (172x12=2064)          688
Normal Person                                                        295
Abnormal heartbeat                                                   241
History of MI                                                        171
Name: count, dtype: int64

In [31]:
df['labels'] = df['labels'].replace("ECG Images of Myocardial Infarction Patients (240x12=2880)", "History of MI")
df['labels'] = df['labels'].replace("ECG Images of Patient that have History of MI (172x12=2064)", "History of MI")
df['labels'] = df['labels'].replace("ECG Images of Patient that have abnormal heartbeat (233x12=2796)", "Abnormal heartbeat")
df['labels'] = df['labels'].replace("Normal Person ECG Images (284x12=3408)", "Normal Person")
df.labels.value_counts()

labels
History of MI         2054
Normal Person         1431
Abnormal heartbeat    1173
Name: count, dtype: int64